#footer {
    color: #fff;
    display: block;
    width: 100%;
    text-align: left;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #080808;
    background-color: #222;
}

div.streaminfo {
    margin-top: 20px;
}

.linkableTableRow {
    cursor: pointer;
}

table.streamList {
    @extend .linkableTableRow;
}

/** Login Form :: start **/
.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    &:focus;

{
    z-index: 2;
}
}

.login-form {
    margin-top: 60px;
}

form[role=login] {
    color: #5d5d5d;
    background: #f2f2f2;
    padding: 26px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

    form[role=login] img {
        display: block;
        margin: 0 auto 35px;
    }

    form[role=login] button,
    form[role=login] input {
        font-size: 18px;
        margin: 16px 0;
    }

.form-links {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 50px;
}

    .form-links a {
        color: #fff;
    }
/** Login Form :: end **/

span.live {
    background-color: #5cb85c;
    font-size: 100%;
}

span.created {
    background-color: #f0ad4e;
    font-size: 100%;
}

span.ended {
    background-color: #d9534f;
    font-size: 100%;
}

#video1_wrapper,
#video2_wrapper,
#video3_wrapper,
#video4_wrapper {
    margin: auto;
}

p.resetpassword,
p.signup {
    text-align: center;
}

span.label {
    margin: 0 2px;
    font-weight: 200;
    font-size: 100%;
}

/* NANOCOSMOS */

#im {
    margin-top: auto;
    margin-bottom: auto;
    background-image: url("../assets/logo-square.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.player-control {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

h3 {
    cursor:pointer;
}

.navbar-default {
	border-color: #ee830a;
}

.col-md-12,
.col-md-6 {
    padding-left: 6px;
    padding-right: 6px;
}

.panel-body {
    padding: 8px;
}

.panel-footer {
    padding: 8px;
}

.panel-primary  {
	border-color: #ee830a;
}

.panel-primary >.panel-heading  {
	background-color: #ee830a;
	border-color: #ee830a;
}

.panel-heading {
    padding: 8px 13px;    
}

.panel-title::before {
  /* add hamburger icon at panel title */
  /*content: "â˜° "; */
  content: "\2630  ";
}

.btn {
    padding: 6px 10px;
}

.btn-primary, .btn-primary:focus {
	background-color: #ee830a;
	border-color: #ee830a;
}

.btn-primary:hover {
	background-color: #333;
	border-color: #FFA43E;
	color: #ee830a;
}

.btn-primary:disabled {
	background-color: #333;
	border-color: #FFA43E;
}

.text-primary {
	color: #ee830a;
}

.label-success {
	background-color: #ee830a;
	color: #333;
}

.label {
  font-size: 90%;
}

.list-group-item:active {
	background-color: #333;
}

.list-group-item:hover {
	background-color: #333;
	color: #ee830a;
}

h1 {
	color: #FFA43E;
}

.no-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

hr {
    border-color: #aaa;
}

/* fixes inlined select boxes not to cross each other */
.inline-select {
    width: auto !important;
}

.popover {
    min-width: 10em !important;
}

.popover-title {
    background: #5bc0de;
    font-weight: bold;
    color: #ffffff;
}